@media (min-width: 1366px) {
	.border-xl-right {
		border-right: 1px solid #d1d3d4;
	}

	.justify-content-xl-center {
		justify-content: center !important;
	}

	.align-items-xl-center {
		align-items: center !important;
	}
}
