[data-bv-rating] a,
[data-bv-rating] span,
[data-bv-rating] div,
[data-bv-rating] svg,
[data-bv-rating] path,
[data-bv-rating] polygon,
[data-bv-rating] button,
[data-bv-show="inline_rating"] a,
[data-bv-show="inline_rating"] span,
[data-bv-show="inline_rating"] div,
[data-bv-show="inline_rating"] svg,
[data-bv-show="inline_rating"] path,
[data-bv-show="inline_rating"] polygon,
[data-bv-show="inline_rating"] button {
	background-attachment: scroll !important;
	background-color: transparent !important;
	background-image: none !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important;
	border-color: black !important;
	border-color: currentColor !important;
	border-radius: 0 !important;
	border-style: none !important;
	border-width: medium !important;
	bottom: auto !important;
	clear: none !important;
	clip: auto !important;
	color: inherit !important;
	counter-increment: none !important;
	counter-reset: none !important;
	cursor: inherit !important;
	direction: inherit !important;
	display: inline !important;
	float: none !important;
	font-family: inherit !important;
	font-size: inherit !important;
	font-style: inherit !important;
	font-variant: normal !important;
	font-weight: inherit !important;
	height: auto !important;
	left: auto !important;
	letter-spacing: normal !important;
	line-height: inherit !important;
	list-style-type: inherit !important;
	list-style-position: outside !important;
	list-style-image: none !important;
	margin: 0 !important;
	max-height: none !important;
	max-width: none !important;
	min-height: 0 !important;
	min-width: 0 !important;
	opacity: 1;
	outline: invert none medium !important;
	overflow: visible !important;
	padding: 0 !important;
	position: static !important;
	quotes: "" "" !important;
	right: auto !important;
	table-layout: auto !important;
	text-align: inherit !important;
	text-decoration: inherit !important;
	text-indent: 0 !important;
	text-transform: none !important;
	top: auto !important;
	unicode-bidi: normal !important;
	vertical-align: baseline !important;
	visibility: inherit !important;
	white-space: normal !important;
	width: auto !important;
	word-spacing: normal !important;
	z-index: auto !important;

	-webkit-background-origin: padding-box !important;
	background-origin: padding-box !important;
	-webkit-background-clip: border-box !important;
	background-clip: border-box !important;
	-webkit-background-size: auto !important;
	-moz-background-size: auto !important;
	background-size: auto !important;
	-webkit-border-image: none !important;
	-moz-border-image: none !important;
	-o-border-image: none !important;
	border-image: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
	-webkit-column-count: auto !important;
	-moz-column-count: auto !important;
	column-count: auto !important;
	-webkit-column-gap: normal !important;
	-moz-column-gap: normal !important;
	column-gap: normal !important;
	-webkit-column-rule: medium none black !important;
	-moz-column-rule: medium none black !important;
	column-rule: medium none black !important;
	-webkit-column-span: 1 !important;
	-moz-column-span: 1 !important;
	column-span: 1 !important;
	-webkit-column-width: auto !important;
	-moz-column-width: auto !important;
	column-width: auto !important;
	font-feature-settings: normal !important;
	overflow-x: visible !important;
	overflow-y: visible !important;
	-webkit-hyphens: manual !important;
	-moz-hyphens: manual !important;
	hyphens: manual !important;
	-webkit-perspective: none !important;
	-moz-perspective: none !important;
	-ms-perspective: none !important;
	-o-perspective: none !important;
	perspective: none !important;
	-webkit-perspective-origin: 50% 50% !important;
	-moz-perspective-origin: 50% 50% !important;
	-ms-perspective-origin: 50% 50% !important;
	-o-perspective-origin: 50% 50% !important;
	perspective-origin: 50% 50% !important;
	-webkit-backface-visibility: visible !important;
	-moz-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	-o-backface-visibility: visible !important;
	backface-visibility: visible !important;
	text-shadow: none !important;
	-webkit-transition: all 0s ease 0s !important;
	transition: all 0s ease 0s !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	-webkit-transform-origin: 50% 50% !important;
	-moz-transform-origin: 50% 50% !important;
	-ms-transform-origin: 50% 50% !important;
	-o-transform-origin: 50% 50% !important;
	transform-origin: 50% 50% !important;
	-webkit-transform-style: flat !important;
	-moz-transform-style: flat !important;
	-ms-transform-style: flat !important;
	-o-transform-style: flat !important;
	transform-style: flat !important;
	word-break: normal !important;
}

[data-bv-rating] path,
[data-bv-rating] polygon {
	fill: currentColor !important;
}

[data-bv-show="inline_rating"] path,
[data-bv-show="inline_rating"] polygon {
	fill: currentColor !important;
}

/* == END CLEANSLATE == */
[data-bv-show="inline_rating"] .bv_incentivized_review_container {
	display: block !important;
}
[data-bv-rating] .bv_main_container,
[data-bv-show="inline_rating"] .bv_main_container {
	display: inline-flex !important;
	align-items: center !important;
	flex-wrap: nowrap !important;
}
[data-bv-rating] .bv_main_container .bv_stars_button_container,
[data-bv-show="inline_rating"] .bv_main_container .bv_stars_button_container {
	overflow: hidden !important;
}
[data-bv-rating] .bv_main_container .bv_stars_svg_no_wrap,
[data-bv-show="inline_rating"] .bv_main_container .bv_stars_svg_no_wrap {
	display: flex !important;
	align-items: center !important;
	white-space: nowrap !important;
}
[data-bv-rating] .bv_main_container .bv_stars_svg_no_wrap svg:not(:last-child),
[data-bv-show="inline_rating"]
	.bv_main_container
	.bv_stars_svg_no_wrap
	svg:not(:last-child) {
	padding-right: 1px !important;
}
[data-bv-rating] .bv_main_container .bv_averageRating_component_container,
[data-bv-rating] .bv_main_container .bv_numReviews_component_container,
[data-bv-show="inline_rating"]
	.bv_main_container
	.bv_averageRating_component_container,
[data-bv-show="inline_rating"]
	.bv_main_container
	.bv_numReviews_component_container {
	display: flex !important;
	align-items: center !important;
	padding-left: 5px !important;
}
[data-bv-rating] .bv_main_container .bv_text,
[data-bv-show="inline_rating"] .bv_main_container .bv_text {
	padding: 0.15em 0 0 0 !important;
	color: #333 !important;
	font-size: 13px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: none !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-decoration: none !important;
	line-height: 19.5px !important;
}
[data-bv-rating] .bv_main_container .bv-off-screen,
[data-bv-show="inline_rating"] .bv_main_container .bv-off-screen {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
}
[data-bv-rating] .bv_hover,
[data-bv-show="inline_rating"] .bv_hover {
	border: 0 !important;
	background: transparent !important;
}
[data-bv-rating] .bv_hover:hover,
[data-bv-show="inline_rating"] .bv_hover:hover {
	cursor: pointer !important;
}
.bv_ms_focusable:focus {
	border: 1px solid blue !important;
}
