/* @tailwind base; */
#sdb-container *,
#sdb-container ::before,
#sdb-container ::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #d9d9d9;
}

@tailwind components;
@tailwind utilities;
#sdb-container ol,
#sdb-container ul,
#sdb-container menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.hero.slant-down.content-page-image {
	display: none !important;
	position: fixed !important;
	left: -1000vw !important;
	top: -1000vh !important;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}

.container.content-asset-container {
	max-width: 100% !important;
	padding: 0;
}

.overflow-y-auto::-webkit-scrollbar {
	/* Customize the scrollbar width */
	height: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
	/* Customize the scrollbar track */
	background-color: #000;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
	/* Customize the scrollbar thumb */
	background-color: #c00;
}
